PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://faizansaifullah36:<db_password>@tltimescluster.lcf0srt.mongodb.net/secure-ephemeral-viewer?retryWrites=true&w=majority&appName=TLTIMESCLUSTER
JWT_SECRET=change-me
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173,https://linkvaulthelp.netlify.app
UPLOAD_ROOT=uploads
STREAM_TOKEN_SECRET=change-me-too
